/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set root font-size @10px equivalent */
html {
  font-size: 0.625em;
  /* fallback IE8+ */
  font-size: calc( 1em * 0.625);
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

/* Remove focus for mouse users */
:focus:not(:focus-visible) {
  outline: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.6rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Set cursor pointer */
label[for],
button,
input[type=submit],
select {
  cursor: pointer;
}

/* Remove font style on address */
address {
  font-style: normal;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Print external URLs */
@media print {
  a {
    text-decoration: underline;
  }

  a[href]:not([href^="#"])::after {
    content: "(" attr(href) ")";
  }
}
/* Helper classes */
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  white-space: nowrap;
}

/* Image replacement technique 2012 H5BP  - https://css-tricks.com/the-image-replacement-museum/ */
.ir {
  font: 0/0 a;
  color: transparent;
  border: 0;
  text-shadow: none;
}

body {
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
button {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  text-shadow: -0.5px -0.5px 0 rgba(0, 0, 0, 0.4), 0.5px 0.5px 0 white;
  color: #414B61;
}

h2 {
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 3rem;
  text-align: center;
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v27-latin/roboto-v27-latin-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/nunito-v16-latin/roboto-v27-latin-700.woff2") format("woff2"), url("../fonts/roboto-v27-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/nunito-v16-latin/nunito-v16-latin-regular.woff2") format("woff2"), url("../fonts/nunito-v16-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-700 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/nunito-v16-latin/nunito-v16-latin-700.woff2") format("woff2"), url("../fonts/nunito-v16-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@media screen and (max-width: 48em) {
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}
@media screen and (max-width: 48em) and (min-width: 36em) {
  .container {
    max-width: 51.2rem;
    padding: 0;
  }
}
@media screen and (min-width: 48em) {
  .main-grid {
    position: fixed;
    width: 90vw;
    min-height: 100vh;
    margin-top: 1rem;
    margin-left: 5vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 10vh 1fr 1fr 1fr;
    gap: 2rem 2rem;
    grid-template-areas: "a m" "a m " "a m " "a m";
  }
}
body {
  background-color: #ededed;
  color: #111B2F;
  position: relative;
}

aside {
  grid-area: a;
}

main {
  grid-area: m;
}

#btn-theme {
  position: absolute;
  margin: 4rem 3rem;
  border-radius: 1rem;
  border: 1px solid #111B2F;
}

.tuile {
  height: min-content;
  border-radius: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
.tuile h2 {
  color: #111B2F;
}

.tuile-trend .tuile-main {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.tuile-header {
  padding: 0.5rem 3rem 0rem 3rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.tuile-header:not(.top-likes .tuile-header) {
  background: #c0c5cf;
  box-shadow: inset -5px -5px 10px #9fa4ac, inset 5px 5px 10px #e1e6f2;
}

.tuile-main {
  padding: 1rem 2rem;
  background: #ededed;
  box-shadow: inset -5px -5px 13px #c2c2c2, inset 5px 5px 13px #ffffff;
}

.tuile-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  text-align: right;
  color: #111B2F;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: #c0c5cf;
  box-shadow: inset -5px -5px 10px #9fa4ac, inset 5px 5px 10px #e1e6f2;
}
@media screen and (max-width: 48em) {
  .tuile-footer {
    justify-content: center;
  }
}
.tuile-footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tuile-footer .icons img {
  height: 4rem;
  padding-right: 1rem;
}

header {
  margin-left: auto;
  margin-right: auto;
}
header img {
  margin-top: 2rem;
}
@media screen and (min-width: 48em) {
  header {
    align-self: center;
    justify-self: center;
  }
}
header img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
}

@media screen and (min-width: 48em) {
  aside {
    max-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
}

.touit {
  padding: 2rem;
  border-radius: 3rem;
  color: #111B2F;
  align-self: center;
  border-radius: 50px;
  background: #ededed;
  box-shadow: 20px 20px 40px #c9c9c9, -20px -20px 40px #ffffff;
}
.touit form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.touit label {
  font-weight: 700;
  z-index: 5;
}
.touit label,
.touit input,
.touit textarea {
  display: block;
  width: 100%;
  border: none;
}
.touit #pseudo {
  min-height: 5rem;
  padding-left: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  position: relative;
  background: #ededed;
  box-shadow: inset 5px 5px 13px #c2c2c2, inset -5px -5px 13px #ffffff;
  border-radius: 10px;
}
.touit #message {
  min-height: 10rem;
  padding-left: 1rem;
  position: relative;
  resize: none;
  background: #ededed;
  box-shadow: inset 5px 5px 13px #c2c2c2, inset -5px -5px 13px #ffffff;
  border-radius: 10px;
}
.touit button {
  margin-top: 1rem;
  min-width: 15rem;
  height: 5rem;
  position: relative;
  border-radius: 10rem;
  border: none;
  background: linear-gradient(145deg, #fefefe, #d5d5d5);
  box-shadow: 11px 11px 24px #c2c2c2, -11px -11px 24px #ffffff;
  color: #111B2F;
}
.touit button img {
  display: inline;
  position: absolute;
  top: 7px;
  transform: translateX(5px);
  width: 2rem;
}
.touit button:hover,
.touit button:focus {
  border: 1px solid #111B2F;
  transition: 0.2s;
}

@media screen and (min-width: 48em) {
  .trend-container {
    position: relative;
  }
  .trend-container h2 {
    position: absolute;
    z-index: 20;
    transform: rotate(-90deg);
    left: -7.5rem;
    top: 5rem;
  }
}
.trend {
  margin-top: 5rem;
}
@media screen and (min-width: 48em) {
  .trend {
    overflow: scroll;
    max-height: 45vh;
    margin-top: 0;
  }
}

@media screen and (min-width: 48em) {
  main {
    height: 100vh;
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 48em) {
  .top-container h2 {
    margin: -1rem;
  }
}
.top-likes {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .top-likes {
    gap: 2rem;
    flex-direction: row;
    margin-bottom: 2rem;
    overflow: scroll;
  }
}
.top-likes .tuile {
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 30rem;
}
.top-likes .tuile-touit {
  background: none;
  position: relative;
  min-height: 15rem;
}
.top-likes .tuile-header {
  background: none;
}
.top-likes .tuile-main {
  min-height: 12rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media screen and (min-width: 48rem) {
  .top-likes .tuile-main {
    font-size: 1.2rem;
  }
}
.top-likes .tuile-footer {
  flex-wrap: nowrap;
  font-size: 1.2rem;
  border-radius: 0px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.top-likes .border-wrap {
  padding-bottom: 0.5rem;
  border-radius: 1rem;
}
.top-likes .top-1 .border-wrap {
  background: #e0e0e0;
  background: radial-gradient(circle, white 20%, gold 100%);
}
.top-likes .top-2 .border-wrap {
  background: #e0e0e0;
  background: radial-gradient(circle, white 50%, silver 100%);
}
.top-likes .top-3 .border-wrap {
  background: #e0e0e0;
  background: radial-gradient(circle, white 20%, #c96a00 100%);
}

@media screen and (min-width: 48em) {
  .touit-list-title {
    margin: 0;
  }
}
.touit-list-container {
  display: flex;
  flex-direction: column;
  height: 65%;
  position: relative;
}
@media screen and (min-width: 48em) {
  .touit-list-container {
    padding: 2rem;
    border-radius: 50px;
    background: #ededed;
    box-shadow: 20px 20px 40px #c9c9c9, -20px -20px 40px #ffffff;
  }
  .touit-list-container h2 {
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.touit-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  background-color: none;
  height: auto;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  overflow: scroll;
}
.touit-list .tuile {
  max-width: 35rem;
}

body[data-theme=dark] {
  background-color: #232C40;
  color: #EDEBE8;
}
body[data-theme=dark] .touit {
  color: #EDEBE8;
  background: #232C40;
  box-shadow: 20px 20px 40px #1d2434, -20px -20px 40px #29344c;
}
body[data-theme=dark] .touit #pseudo,
body[data-theme=dark] .touit #message {
  background: #232C40;
  box-shadow: inset 5px 5px 13px #1d2434, inset -5px -5px 13px #29344c;
  color: #EDEBE8;
}
body[data-theme=dark] .touit button {
  background: linear-gradient(145deg, #252f44, #20283a);
  box-shadow: 11px 11px 24px #1d2434, -11px -11px 24px #29344c;
  color: #EDEBE8;
  text-shadow: none;
}
body[data-theme=dark] .touit button:hover,
body[data-theme=dark] .touit button:focus {
  border-color: #EDEBE8;
}
body[data-theme=dark] .tuile .tuile-header:not(.top-container .tuile-header) {
  background: #3f4f70;
  box-shadow: inset -5px -5px 10px #34425d, inset 5px 5px 10px #4a5c83;
}
body[data-theme=dark] .tuile .tuile-header:not(.top-container .tuile-header) h3 {
  color: #e2e6f0;
}
body[data-theme=dark] .tuile .tuile-main {
  background: #232C40;
  box-shadow: inset -5px -5px 13px #1d2434, inset 5px 5px 13px #29344c;
}
body[data-theme=dark] .tuile .tuile-footer {
  background: #3f4f70;
  box-shadow: inset -5px -5px 10px #34425d, inset 5px 5px 10px #4a5c83;
  color: #EDEBE8;
}
body[data-theme=dark] .top-likes .tuile-header {
  background: none;
}
@media screen and (min-width: 48em) {
  body[data-theme=dark] .touit-list-container {
    background: #232C40;
    box-shadow: 20px 20px 40px #1d2434, -20px -20px 40px #29344c;
  }
}
body[data-theme=dark] .touit-list-container .touit-list {
  background-color: none;
}
body[data-theme=dark] h2,
body[data-theme=dark] h3 {
  color: #e2e6f0;
  text-shadow: none;
}

/*# sourceMappingURL=style.css.map */
