@import 'variables';
body[data-theme="dark"] {
    background-color: $background-dark;
    color: $text-dark;
    .touit {
        color: $text-dark;
        @include neumorphism-std-dark;
        #pseudo,
        #message {
            @include neumorphism-hole-dark;
            color: $text-dark;
        }
        button {
            @include neumorphism-btn-dark;
            color: $text-dark;
            text-shadow: none;
        }
        button:hover,
        button:focus {
            border-color: $text-dark;
        }
    }
    .tuile {
        .tuile-header:not(.top-container .tuile-header) {
            @include neumorphism-tuile-dark;
            h3 {
                color: $title-dark;
            }
        }
        .tuile-main {
            @include neumorphism-bomb-dark;
        }
        .tuile-footer {
            @include neumorphism-tuile-dark;
            color: $text-dark;
        }
    }
    .top-likes {
        .tuile-header {
            background: none;
        }
    }
    .touit-list-container {
        @media screen and (min-width: 48em) {
            @include neumorphism-std-dark;
        }
        .touit-list {
            background-color: none;
        }
    }
    h2,
    h3 {
        color: $title-dark;
        text-shadow: none;
    }
    .comments {
        background-color: $background-dark;
        .comments-container {
            background-color: $background-dark;
        }
        #pseudo-comment,
        #message-comment {
            @include neumorphism-hole-dark;
            color: $text-dark;
        }
        article {
            @include neumorphism-hole-dark;
        }
    }
    #btn-theme,
    #btn-close,
    #btn-up {
        background-color: $background-light;
    }
}