@import 'variables';
@media screen and (max-width: 48em) {
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 3.2rem;
        padding-right: 3.2rem;
        @media screen and (min-width: 36em) {
            max-width: $container-sm;
            padding: 0;
        }
    }
}

@media screen and (min-width: 48em) {
    .main-grid {
        position: fixed;
        width: 90vw;
        min-height: 100vh;
        margin-top: 1rem;
        margin-left: 5vw;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 10vh 1fr 1fr 1fr;
        gap: 2rem 2rem;
        grid-template-areas: "a m" "a m " "a m " "a m";
    }
}

body {
    background-color: $background-light;
    color: $text-light;
    position: relative;
}

aside {
    grid-area: a;
}

main {
    grid-area: m;
}

#btn-theme {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    margin: 2rem 2rem;
    background-color: $background-dark;
    border-radius: 50%;
    border: none;
    z-index: 10;
    img {
        width: 4rem;
        height: 4rem;
    }
    @media screen and (min-width: 48em) {
        position: absolute;
    }
}

body::-webkit-scrollbar {
    display: none;
}