main {
    height: 100vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-likes {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    word-wrap: none;
    overflow-x: scroll;
    min-height: 30rem;
    .tuile {
        max-width: 35rem;
        margin-bottom: 2rem;
        display: inline-block;
        flex-shrink: 0;
        flex-grow: 0;
    }
    .tuile-touit {
        background: none;
        position: relative;
        min-height: 15rem;
    }
    .tuile-header {
        background: none;
        h2 {
            color: $background;
        }
    }
    .tuile-main {
        border-top: 1px solid $light-text;
        min-height: 11.8rem;
    }
    .tuile-footer {
        color: #000;
        border-top: none;
        border-radius: 0px;
    }
    .top-1 {
        .tuile-footer {
            background-color: #FFD700;
            border: none;
        }
    }
    .top-2 {
        .tuile-footer {
            background-color: #FFD700;
            border: none;
        }
    }
    .top-3 {
        .tuile-footer {
            background-color: #FFD700;
            border: none;
        }
    }
}

.touit-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    background-color: $main-text;
    height: auto;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    overflow: scroll;
    .tuile {
        max-width: 35rem;
    }
}

// /* style.css | http://127.0.0.1:5501/css/style.css?_cacheOverride=1619460375407 */
// .top-likes {
//     /* height: 40%; */
//     /* max-width: 100%; */
//   }
//   main {
//     /* height: 95vh; */
//   }