.tuile {
    height: min-content;
    border-radius: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    h2 {
        color: $text-light;
    }
    position: relative;
}

.tuile-trend {
    .tuile-main {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}

.tuile-header {
    padding: 0.5rem 3rem 0rem 3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.tuile-header:not(.top-likes .tuile-header) {
    @include neumorphism-tuile-light;
}

.tuile-main {
    padding: 1rem 2rem;
    @include neumorphism-bomb-light;
}

.tuile-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    text-align: right;
    color: $text-light;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    @include neumorphism-tuile-light;
    @media screen and (max-width: 48em) {
        justify-content: center;
    }
    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 4rem;
            padding-right: 1rem;
        }
    }
}