main {
    height: 100vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-likes {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    word-wrap: none;
    overflow-x: scroll;
    min-height: 30rem;
    .tuile {
        max-width: 35rem;
        margin-bottom: 2rem;
        display: inline-block;
        flex-shrink: 0;
        flex-grow: 0;
    }
    .tuile-touit {
        background: none;
        position: relative;
        min-height: 15rem;
    }
    .tuile-header {
        background: none;
        h2 {
            color: $main-color;
        }
    }
    .tuile-main {
        // border-top: 1px solid $light-text;
        min-height: 11.8rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .tuile-footer {
        color: #000;
        border-top: none;
        border-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .border-wrap {
        padding: 0.5rem;
        border-radius: 10px;
    }
    .top-1 {
        .border-wrap {
            background: rgb(224, 224, 224);
            background: radial-gradient(circle, rgb(255, 255, 255) 20%, rgba(255, 215, 0, 1) 100%);
        }
    }
    .top-2 {
        .border-wrap {
            background: rgb(224, 224, 224);
            background: radial-gradient(circle, rgb(255, 255, 255) 20%, rgba(192, 192, 192, 1) 100%);
        }
    }
    .top-3 {
        .border-wrap {
            background: rgb(224, 224, 224);
            background: radial-gradient(circle, rgb(255, 255, 255) 20%, rgba(201, 106, 0, 1) 100%);
        }
    }
}

.touit-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    background-color: #e0e0e0;
    height: auto;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    overflow: scroll;
    .tuile {
        max-width: 35rem;
    }
}