// CONTAINER
$container-sm: 51.2rem;
$container-md: 68.8rem;
$container-lg: 91.2rem;
$container-xl: 112rem;
// COLORS
$main-color: #414B61;
$secondary-color: #EDEBE8;
$main-text: #111B2F;
$secondary-text: #232C40;
$light-text: #9AA1B0;
$light-color: #E1DACD;
$background: #FFF;